.container {
  background: var(--bg);
  min-height: 100vh;
  padding: 3rem 1rem;
}

.header {
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--text);
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}