* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f9f9f9;
  --bg2: #ffffff;
  --bg3: #f5f1ea;
  --text: #000000;
  --primary: #3b5b81;
  --secondary: #c07e2b;
  --accent: #c0392b;
  --text2: var(--primary);
}

[data-theme="dark"] {
  --bg: #020617;
  --bg2: #0f172a;
  --bg3: #1b2330;
  --text: #ffffff;
  --primary: #3b5b81;
  --secondary: #c07e2b;
  --accent: #c0392b;
  --text2: var(--secondary);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Geist Sans", Arial, Helvetica, sans-serif;
}
